$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background:#e3e3e3;
}

.content table{
    width:100%;
    thead tr{height:70px;}
    thead {background:black;}
    th a{color:white; display:block; line-height:70px;}
    td, th{ text-align: center; text-transform:uppercase;}
    
    td{height:130px; color:#454545}
    td:nth-child(2n){background:#dddddd}
    td.active, th.active{ background:white; *{color:black}}
}